<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>Hommies</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSCameraUsageDescription</key>
	<string>Hommies bruger kameraet, så du kan tage billeder til din profil og dine boligannoncer.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hommies bruger mikrofonen, når du optager en video-intro til din profil.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hommies bruger dine billeder, så du kan tilføje fotos til din profil og dine boligannoncer.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Hommies kan gemme billeder i dit fotobibliotek.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hommies bruger din placering til at vise relevante værelser og samboere i nærheden.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hommies bruger din placering til at vise relevante værelser og samboere i nærheden.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Hommies bruger Face ID, så du kan logge hurtigt og sikkert ind uden at indtaste din adgangskode hver gang.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
